//
// Homepage
// --------------------------------------------------

.navbar {
    -webkit-animation-duration: .5s;
    -webkit-animation-delay: 0s;

    animation-duration: .5s;
    animation-delay: 0s;
    // -vendor-animation-iteration-count: infinite;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar {
    position: fixed;
    background: rgba(0, 0, 0, .8);
    // background: @black;
    // background: @gray-darker;
    z-index: 1000;
    width: 100%;
    padding: 5px 0;
    border: none;
    color: white;

    opacity: 0;

    li {

        a {
            text-transform: uppercase;
            font-weight: 100;
        }
    }

    .buttons {
        text-align: center;
        // margin-top: 15px;
        position: relative;
        z-index: 4000;
        li {
            color: white;
        }

        li:first-child {
            margin-left: 94px;
        }

        @media (max-width: @screen-xs-max) {
            li:first-child {
                margin-left: 0;
            }
        }

        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            li:first-child {
                margin-left: 0;
            }
        }

        a {
            color: @white;
            margin: 0 5px;
            z-index: 4000;
        }

        &.stuck {
            position: fixed;
            top: 0px;
            margin-left: 80px;

            a {
                z-index: 4000;
                margin: 0 13px;
            }
        }
    }

    #logo {
        width: 150px;
        margin: 0 auto;
        margin-top: 6px;
    }

    @media (max-width: @screen-xs-max) {
        #logo {
            width: 220px;

            img {
                width: 100%;
            }
        }
    }
}

#homepage {

    #top-section {
        // max-height: 1000px;
        // height: 1000px;
        width: 100%;
        // height: 90%;
        position: relative;
        text-align: center;
        color: @black;
        // min-height: 800px;
        // height: 100%;
        // max-height: 1000px;
        overflow: hidden;
        // padding-bottom: 100px;
        z-index: 200;

        #logo {
            // height: 135px;
            width: 280px;
            // margin: 0 auto;
            position: fixed;
            text-align: left;
            top: 20px;

            img {
                position: relative;
                width: 100%;
            }
        }

        @media (max-width: @screen-xs-max) {
            #logo {
                width: 235px;
                text-align: center;
                margin: 0 auto !important;
                position: relative;
            }
        }

        h1 {
            font-size: 68px;
            font-weight: 700;
            text-transform: uppercase;
            text-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
            // text-align: left;
            // width: 280px;
            // margin: 0 auto;
            margin-top: 50px;
            color: @white;

            span {
                letter-spacing: 1px;
                display: block;
            }

            span:first-child {
                font-size: 100px;

                // line-height: 100px;
            }

            span:nth-child(2) {
                font-size: 66px;
                margin-top: -14px;
                // line-height: 100px;
            }

            span:nth-child(3) {
                font-size: 64px;
                margin-top: -6px;
                // line-height: 100px;
            }

            span:nth-child(4) {
                font-size: 89px;
                margin-top: -12px;
                // line-height: 100px;
            }
        }

        @media (max-width: @screen-xs-max) {
            h1 {
                span:first-child {
                font-size: 85px;

                    // line-height: 100px;
                }

                span:nth-child(2) {
                    font-size: 56px;
                    margin-top: -14px;
                    // line-height: 100px;
                }

                span:nth-child(3) {
                    font-size: 54px;
                    margin-top: -6px;
                    // line-height: 100px;
                }

                span:nth-child(4) {
                    font-size: 79px;
                    margin-top: -12px;
                    // line-height: 100px;
                }
            }
        }

        .hr-white {
            width: 320px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        @media (max-width: @screen-xs-max) {
            .hr-white {
                width: 280px;
            }
        }

        p.date {
            font-size: 36px;
            font-weight: 500;
            color: @green;
            text-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
            margin-bottom: 0;
        }

        p.venue {
            font-weight: 100;
            font-size: 36px;
            margin-bottom: 30px;
            color: @white;
        }

        .buttons {
            text-align: center;
            margin-top: 0px;
            position: relative;
            z-index: 4000;

            a {
                margin: 0 13px;
                z-index: 4000;
            }

            &.stuck {
                position: fixed;
                top: 0px;
                margin-left: 30px;

                a {
                    z-index: 4000;
                    margin: 0 13px;
                }
            }
        }

        @media (max-width: @screen-xs-max) {
            .buttons {
                a {
                    margin-bottom: 20px;
                }
            }
        }


        .section1 {
            height: 820px;
            width: 100%;
            margin: auto;
            // border:1px solid @black;
            background: url("../images/javits_center_dark.jpg") no-repeat fixed;
            // top: 0px;
            // left: 0;
            margin: 0 auto;
            .background-size(100%);
        }

        .section2 {
            // height: 794px;
            width: 100%;
            // width: 1200px;
            margin: 0 auto;
            background: url("../images/javits_center.jpg") no-repeat fixed;
            // top: 0px;
            // left: 0;
            .background-size(100%);
            // background-attachment: scroll;
        }

        @media (max-width: @screen-xs-max) {
            .section1, .section2 {
                background-size: auto 750px;
            }
        }

        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            .section1, .section2 {
                background-size: auto 700px;
            }
        }

        #feature-details {
            display: none;
        }


        .section {
            padding-top: @section-padding;
            padding-bottom: @section-padding;
            // position: fixed;
            // margin-top: -800px;
            // height: 1000px;
            // margin-bottom: 1000px;
            // width: 100%;

            .grayscale {
                filter: url(filters.svg#grayscale);
                filter: gray;
                -webkit-filter: grayscale(1);
            }

            h2 {
                text-align: center;
                margin-bottom: 20px;
            }

            .whos-coming, .our-friends {
                margin-top: 10px;
                margin-bottom: 20px;

                a {
                    height: 100px;
                }
            }

            .box-container {
                overflow-y: hidden;
                margin-top: 30px;
                overflow-y: hidden;
                height: 280px;
                cursor: pointer;
                text-align: center;

                .box {
                    color: @white;
                    background: @black;
                    // margin-top: 30px;
                    position: relative;
                    height: 280px;
                    padding: 25% 0;

                    h3 {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }

                @media (max-width: @screen-xs-max) {
                    .box {
                        padding: 30% 0;
                    }
                }

                .box-hover {
                    color: @black;
                    background: @blue;
                    // height: 300px;
                    height: 300px;
                    margin-top: 0px;
                    padding: 9% 10%;

                    // .vertical-align();

                    p {
                        font-weight: 300;
                        font-size: 18px;
                    }

                    p.learn-more {
                        margin-top: 20px;
                        // font-size: 14px;
                        color: @gray;
                    }
                }

                @media (max-width: @screen-xs-max) {
                    .box-hover {
                        padding: 11% 10%;
                    }
                }
            }

            #feature-popup {

                border: 1px solid @blue;
                height: 527px;
                // .box-shadow(3px 1px 2px 2px rgba(0,0,0,.3));

                #left-side {
                    background: @black;
                    // border-right: none;
                    padding: 5px 0;

                    .feature {
                        cursor: pointer;
                        .filter(brightness(40%));
                        padding: 10px 5px;

                        &:hover {
                            .filter(brightness(100%));
                        }

                        &.selected {
                            .filter(brightness(100%));
                        }

                        img {
                            max-height: 45px;
                            margin-bottom: 0px;
                        }

                        h3 {
                            font-size: 14px;
                            font-weight: 300;
                            color: @white;
                            margin: 0;
                            margin-top: 10px;
                            margin-bottom: 5px;

                            &:hover {
                            }
                        }
                    }

                }

                #right-side {
                    text-align: left;
                    // border: 1px solid @blue;
                    // border-left: none;

                    padding: 30px 50px 30px 30px;

                    h3 {
                        font-weight: 500;
                        font-size: 36px;
                        margin-top: 10px;
                    }

                    h4 {
                        font-size: 18px;
                        font-weight: 300;
                        line-height: 1.3em;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }

                    p.title {
                        font-size: 18px;
                        font-weight: 500;
                        color: @gray;
                    }

                    p.smaller {
                        font-size: 14px;
                        font-weight: 300;
                    }

                    .close {
                        color: @black;
                        opacity: .5;
                        font-size: 30px;
                        font-weight: 700;
                        padding: 5px 10px;
                        .border-radius(100px);
                        border: 2px solid @black;

                        &:hover {
                            opacity: 1;
                            color: @black;
                            text-decoration: none;
                        }
                    }

                }
            }

            @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
                #feature-popup {
                    height: 571px;
                }
            }

            @media (max-width: @screen-xs-max) {
                #feature-popup {

                    #right-side {
                        text-align: left;
                        // border: 1px solid @blue;
                        // border-left: none;

                        padding: 10px 30px 10px 30px;

                        #mc-embedded-subscribe {
                            margin-top: 10px;
                            margin-left: 0 !important;
                        }

                        h3 {
                            font-weight: 500;
                            font-size: 30px;
                            margin-top: 10px;
                        }

                        h4 {
                            font-size: 16px;
                            font-weight: 300;
                            line-height: 1.3em;
                            margin-top: 20px;
                            margin-bottom: 20px;
                        }

                        p.title {
                            font-size: 18px;
                            font-weight: 500;
                            color: @gray;
                        }

                        p.smaller {
                            font-size: 14px;
                            font-weight: 300;
                        }

                        .close {
                            color: @black;
                            opacity: .5;
                            font-size: 30px;
                            font-weight: 700;
                            padding: 5px 10px;
                            .border-radius(100px);
                            border: 2px solid @black;

                            &:hover {
                                opacity: 1;
                                color: @black;
                                text-decoration: none;
                            }
                        }

                    }
                }
            }

            .blog-post-link {

                img {
                    .filter(brightness(90%));
                }

                &:hover {
                    text-decoration: none;

                    img {
                        .filter(brightness(100%));
                    }

                    .post-title, .more-details {
                        text-decoration: underline;
                    }
                }

                .blog-post {
                    text-align: left;
                    color: @black;
                    margin-top: 30px;

                    #img-container {
                        min-height: 242px;
                        // border: 1px solid @gray;
                    }

                    img {
                        height: 242px;
                    }

                    .post-title {
                        font-size: 18px;
                        font-weight: 500;
                        margin: 15px 0 5px 0;
                    }

                    .date {
                        font-weight: 500;
                        font-size: 14px;
                    }

                    .author {
                        font-weight: 500;
                        font-size: 14px;
                        color: @gray;
                    }

                    .text {
                        font-weight: 300;
                        margin-top: -7px;

                        .more-details {
                            color: @gray;
                        }
                    }
                }
            }

        }

        @media (max-width: @screen-xs-max) {
            .section {
                padding-top: @section-padding-phone;
                padding-bottom: @section-padding-phone;

                &#whoscoming {
                    padding-top: 0px;
                    margin-top: -50px;
                }
            }
        }

        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            .section {
                padding-top: @section-padding-phone;
                padding-bottom: @section-padding-phone;

                &#whoscoming {
                    padding-top: 0px;
                    margin-top: -70px;
                }
            }
        }

        .section4 {

        }

        #our-friends {
            background: @blue-light;
        }

        #headline {
            top: 15px;
            position: relative;
            z-index: 2000;
            text-align: center;
        }
    }

    @media (max-width: @screen-xs-max) {

        #bottom-section {
            margin-top: -45px;
        }

    }

}

#thank-you {

    h1, h2 {
        text-align: center;
        font-size: 50px;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
        color: @white;
        margin-top: 40px;
    }

    h2 {
        font-weight: 500;
        font-size: 30px;
        margin-top: 30px;
        line-height: 1.3em;
    }

    @media (max-width: @screen-xs-max) {
        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 18px;
        }
    }

    #logo {
        width: 280px;
        text-align: left;
        top: 0px;

        img {
            position: relative;
            width: 100%;
        }
    }

    #social {
        text-align: center;
        margin-top: 30px;

        a {
            margin: 0 10px;
            .filter(brightness(80%));

            &:hover {
                .filter(brightness(100%));
            }

            img {
                width: 70px;
            }
        }
    }
}